In [1]:
import requests
from bs4 import BeautifulSoup

link = "https://www.basketball-reference.com/"
data = requests.get(link)
data

In [3]:
html_content = BeautifulSoup(data.text, "html.parser")

In [31]:
table = {"Team":[], "Wins":[], "Losses":[], "Win/Loss %":[], "Games Behind":[]}
for i in html_content.find(id="mini-fib").find("tbody").find_all("tr"):
    table["Team"].append(i.find('a').text)
    row_data = i.find_all("td")
    table["Wins"].append(row_data[0].text)
    table["Losses"].append(row_data[1].text)
    table["Win/Loss %"].append(row_data[2].text)
    table["Games Behind"].append(row_data[3].text)

In [33]:
import pandas as pd

nbaTable = pd.DataFrame(table)
nbaTable

                  Team Wins Losses Win/Loss % Games Behind
0              Germany    8      0      1.000            -
1               Latvia    6      2       .750          2.0
2               Serbia    6      2       .750          2.0
3               Canada    6      2       .750          2.0
4             Slovenia    5      3       .625          3.0
5            Lithuania    6      2       .750          2.0
6        United States    5      3       .625          3.0
7                Italy    4      4       .500          4.0
8                Spain    3      2       .600          3.5
9   Dominican Republic    3      2       .600          3.5
10              France    3      2       .600          3.5
11               Japan    3      2       .600          3.5
12         South Sudan    3      2       .600          3.5
13               Egypt    2      3       .400          4.5
14             Lebanon    2      3       .400          4.5
15             Finland    2      3       .400          4.5
16              Greece    2      3       .400          4.5
17             Georgia    2      3       .400          4.5
18          Montenegro    3      2       .600          3.5
19         Puerto Rico    3      2       .600          3.5
20              Brazil    3      2       .600          3.5
21           Australia    3      2       .600          3.5
22         New Zealand    2      3       .400          4.5
23         Philippines    1      4       .200          5.5
24              Mexico    2      3       .400          4.5
25          Cape Verde    1      4       .200          5.5
26              Angola    1      4       .200          5.5
27         Ivory Coast    1      4       .200          5.5
28               China    1      4       .200          5.5
29           Venezuela    0      5       .000          6.5
30              Jordan    0      5       .000          6.5
31                Iran    0      5       .000          6.5

In [47]:
table = {"Team":[], "Wins":[], "Losses":[], "Win/Loss %":[], "Games Behind":[]}
for i in html_content.find(id="mini-olw").find("tbody").find_all("tr"):
    table["Team"].append(i.find('a').text)
    row_data = i.find_all("td")
    for i, x in enumerate(table.values()):
        if i != 0:
            x.append(row_data[i-1].text)
    
olwTable = pd.DataFrame(table)
olwTable

             Team Wins Losses Win/Loss % Games Behind
0   United States    6      0      1.000            -
1           Spain    3      1       .750          2.0
2       Australia    4      2       .667          2.0
3          France    4      2       .667          2.0
4         Germany    2      2       .500          3.0
5         Nigeria    2      2       .500          3.0
6          Serbia    2      2       .500          3.0
7         Belgium    2      4       .333          4.0
8           China    1      2       .333          3.5
9          Canada    0      3       .000          4.5
10          Japan    0      3       .000          4.5
11    Puerto Rico    0      3       .000          4.5